// Пользовательские переменные
:root {
    --ffMain: 'Montserrat', sans-serif;
    --ffHeader: sans-serif;
    --tr: .3s;  // Плавность перехода
    --radius: 8px; // border-radius
}

$ffMain: var(--ffMain);
$ffHeader: var(--ffHeader);
$tr: var(--tr);
$minHover: 769px; // Минимальное разрешения экрана для hover-эффекта
$radius: var(--radius);

$laptop-l: 1440px;
$laptop: 1024px;
$tablet: 768px;
$mobile-l: 425px;
$mobile-m: 375px;
$mobile-s: 320px;

// Цвета
:root {
    --main: #333333;
    --second: #9EA7B0;;
    --accent: #9CC500;
    --accent2: #21BDEE;
    --outline: #F4F4F4;
    --bg-page: #ffffff;
    --shadow-block: 0px 10px 20px -10px rgba(0, 0, 0, 0.15);
    --bg-input: #F6F7F9;
    --bg-input-active: #E9ECEF;
    --error: #E83D3D;
}

$main: var(--main);
$second: var(--second);
$accent: var(--accent);
$accent2: var(--accent2);
$outline: var(--outline);
$bg-page: var(--bg-page);
$shadow-block: var(--shadow-block);
$bg-input: var(--bg-input);
$bg-input-active: var(--bg-input-active);
$error: var(--error);