.s-title {
    font-size: 14px;
    font-weight: 600;
}

.table-column-title {
    font-size: 10px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: .2em;
}

.table-column-subtitle {
    font-size: 8px;
    color: $second;
    text-align: center;
}

.table-row-title {
    font-size: 13px;
}